body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #050816;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu a:hover {
  color: #8b5cf6;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text span {
  color: #8b5cf6;
}

.btn-group button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #8b5cf6;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-group .outline {
  background: transparent;
  border: 1px solid white;
}

.btn-group button:hover {
  transform: scale(1.05);
}

/* IMAGE */
.hero-img img {
  width: 250px;
  border-radius: 20px;
}

.hero-img button {
  display: block;
  margin-top: 10px;
}

/* SECTION */
.section {
  padding: 100px 40px;
}

.dark {
  background: #0f172a;
}

/* CARD */
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #111;
  padding: 20px;
  margin: 20% auto;
  width: 300px;
  text-align: center;
}

/* ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.center {
  text-align: center;
}
